* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

#menu {
    border: 1px blue solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#menu ul li {
    background-color: black;
    float: left;
    list-style: none;
    text-align: center;
    line-height: 30px;
    margin: 20px;
}

#menu .link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 430px;
    display: block;
}

