* {
    margin: 0;
    padding: 0;
}
.background {
    background-color: rgba(211, 211, 211, 0.462);
    height: 120%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.line1 {
    border-top: 1px solid black;
    width: 100%;
}

.categories {
    /* border: 1px solid red; */
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

/* .btn {
    all: unset;
    background-image: url("./images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100px;
    height: 100px;
    text-align: center;

} */

.firstBox {
    /* border: 1px solid orange; */
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    align-items: center;
}

.wrapperCategories {
    position:relative;
    height: auto;
}

/* .box1 .box2 .box3 .box4 .box5 .box6 {
    border: 5px solid orange;
    box-sizing: border-box;
    height: 600px;
    width: 600px;
    align-items: center;
} */

.box1 img {
    background-color: red;
    height: 260px;
    width: 447px;
}

.box2 img {
    height: 260px;
    width: 447px;
}

.box3 img {
    height: 260px;
    width: 447px;
}

.box4 img {
    height: 260px;
    width: 447px;
}

.box5 img {
    height: 260px;
    width: 447px;
}

.box6 img {
    height: 260px;
    width: 447px;
}

.secondBox {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
}

.thirdBox {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 230px;
}

.text {
    width: 100%;
    height: 200px;
    /* margin-left: 17.5px; */
}

.titleBox{
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}
.title {
    font-size: 30px;
    font-weight: 300;
}

.cate {
    font-size: 50px;
    font-weight: bolder;
}

.English {
    font-size: 30px;
    font-weight: bolder;
    padding-top: 30px;
    margin-left: 17.5px;
}

.Ko {
    padding-top: 10px;
    margin-left: 17.5px;
}

.Date {
    font-size: 10px;
    padding-top: 20px;
    margin-left: 17.5px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.first {
    position: relative;
    animation: fadeInUp 1s;
}

.image1 {
    position: relative;
    animation: fadeInUp 1s;
}

.image2 {
    position: relative;
    animation: fadeInUp 1.1s;
}

.image3 {
    position: relative;
    animation: fadeInUp 1.2s;
}

.image4 {
    position: relative;
    animation: fadeInUp 1.3s;
}

.image5 {
    position: relative;
    animation: fadeInUp 1.4s;
}

.image6 {
    position: relative;
    animation: fadeInUp 1.5s;
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    20% {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.english1 {
    position: relative;
    animation: fadeInUp2 2s;
}

.english2 {
    position: relative;
    animation: fadeInUp2 2.1s;
}

.english3 {
    position: relative;
    animation: fadeInUp2 2.2s;
}

.english4 {
    position: relative;
    animation: fadeInUp2 2.3s;
}

.english5 {
    position: relative;
    animation: fadeInUp2 2.4s;
}

.english6 {
    position: relative;
    animation: fadeInUp2 2.5s;
}

.ko1 {
    position: relative;
    animation: fadeInUp2 3s;
}

.ko2 {
    position: relative;
    animation: fadeInUp2 3.1s;
}

.ko3 {
    position: relative;
    animation: fadeInUp2 3.2s;
}

.ko4 {
    position: relative;
    animation: fadeInUp2 3.3s;
}

.ko5 {
    position: relative;
    animation: fadeInUp2 3.4s;
}

.ko6 {
    position: relative;
    animation: fadeInUp2 3.5s;
}

.date1 {
    position: relative;
    animation: fadeInUp2 4s;
}

.date2 {
    position: relative;
    animation: fadeInUp2 4.1s;
}

.date3 {
    position: relative;
    animation: fadeInUp2 4.2s;
}

.date4 {
    position: relative;
    animation: fadeInUp2 4.3s;
}

.date5 {
    position: relative;
    animation: fadeInUp2 4.4s;
}

.date6 {
    position: relative;
    animation: fadeInUp2 4.5s;
}

.a1 {
    height: 260px;
    width: 447px;
    overflow: hidden;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

.a2 {
    width: 447px;
    height: 260px;
    overflow: hidden;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

.a1 img,
.a2 img {
    max-width: 447px;
    transition: all 0.6s linear;
}

.a1:hover img,
.a2:hover img {
    transform: scale(1.4);
}


.line2 {
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 50px;
}

.btn {
    all: unset;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("./images/arrow.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 22px;
    cursor: pointer;
    transition-duration: 0.5s;

}

.btn2 {
    all: unset;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("./images/arrow.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 22px;
    cursor: pointer;
    transition-duration: 1s;

}

.btn3 {
    all: unset;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("./images/arrow.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 22px;
    cursor: pointer;
    transition-duration: 1s;
}

.btn4 {
    all: unset;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("./images/arrow.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 22px;
    cursor: pointer;
    transition-duration: 1s;

}

.btn5 {
    all: unset;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("./images/arrow.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 22px;
    cursor: pointer;
    transition-duration: 1s;

}

.thirdBox2 {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 100px;
    margin-bottom: 230px;
}