.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: blue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo img {
    width: 40px;
    height: 30px;
}

.signIn_text {
    color: white;
    text-decoration: none;
}

.signUp_text {
    color: white;
    text-decoration: none;
}

.signInAndSignUp{
    display: inline-flex;
    width: 150px;
    justify-content: space-between;
}

.header_logo:hover {
    cursor: pointer;
    .logo_image {
        width: 45px;
        height: 35px;
    }
}

.signIn:hover {
    cursor: pointer;
    .signIn_text {
        font-size: 18px;
    }
}

.signUp:hover {
    cursor: pointer;
    .signUp_text {
        font-size: 18px;
    }
}