.latestPart {
    width: 95%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.StoriesPart {
    width: 95%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.NewsPart {
    width: 95%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}